<div class="container text-center">
</div>
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
   
      <div *ngIf="searchText.length > 2" class="searched">
        <div *ngFor="let hero of heroes | filter:searchText" class="apires">&nbsp;
           {{hero.name}},{{hero.country}} 
        </div>
         </div>
    </div>
   
  
  </div>
</div>
